.container {
    height: 100vh;
}

.login-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-margin-top{
    margin-top: 8vw;
}

.signup-link a {
    color: #007bff; /* Blue color for the link */
    text-decoration: none;
    font-weight: bold; /* Make the text bold */
}

.signup-link a:hover {
    text-decoration: underline; /* Underline the link on hover */
}

.ars-color{
    color:lightslategray;
}

.signup-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.signup-margin-top-bottom{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 5px;
}

.profile-dropdown{
    margin-right: 10px;
}

.navbar{
    background-color: #fff;
}

.navbar-brand{
    color: #006494 !important;
    font-weight: 500 !important;
    margin-left: 50px;
    font-size: 18px !important;
}

.nav-link{
    color: #006494 !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.dashboard-content{
    background-color: #f1f1f1;
    height: fit-content;
    margin-top: 62px !important;
    max-width: 100vw !important;
}

.dashboard-content ul {
    list-style: none;
    padding-left: 0; 
}

.dashboard-content ul li {
    padding-left: 50px !important; 
}

.dashboard-content ul li button {
    margin-left: 200px;
}

.recommend-article-title{
    color:#006494 !important;
}

.profile-information-content{
    margin-top: 62px !important;
    background-color: #f1f1f1;
    height: 90vh;
}

.form-label{
    color:#006494 !important;
}

.label-info{
    color:#66717f ;
}

.update-profile-content{
    margin-top: 62px !important;
    background-color: #f1f1f1;
    height: 200vh;
}

.change-password-content{
    margin-top: 62px !important;
    background-color: #f1f1f1;
    height: 90vh;
}

.form-check-div{
    text-align: left;
    margin-left: 100px;
}

.cosine-similarity{
    color: lightslategray;
}

.precision{
    color: #006494;
}

.liked {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.article-link{
    margin-right: 50px;
}

.search-link{
    margin-right: 400px;
}

.dropdown-item{
    --bs-dropdown-link-active-bg:#f1f1f1 !important;
}

.articles-content{
    background-color: #f1f1f1;
    height: fit-content;
    margin-top: 62px !important;
    max-width: 100vw !important;
    padding-top: 60px;
}

.articles-content ul {
    list-style: none;
}

.page-number{
    background-color: #f1f1f1;
    height: 80px;
}

.title-link{
    text-decoration: none;
    color: lightslategray;
}

.article-detail-content{
    background-color: #f1f1f1;
    height: 90vh;
    margin-top: 62px !important;
    max-width: 100vw !important;
    padding-top: 60px;
}

.keywords-title{
    margin-top: 50px;
    color: lightslategray;
}

.article-title{
    color: lightslategray;
}